.c-container__cards--team {
  display: flex;
  margin: 5rem;
  .c-card--team {
    width: 45rem;
    height: 56rem;
    margin-bottom: 8rem;
    margin-right: 5rem;
    position: relative;

    // @include media-breakpoint-down(1420px) {
    //   width: 40rem;
    //   height: 65rem;
    // }
    .c-overlay {
      width: 25rem;
      height: 5rem;
      background-color: #fff;
      opacity: 0.5;
      z-index: 1;
      position: absolute;
      bottom: 2.4rem;
      right: 1.7rem;
      &__text {
        position: absolute;
        bottom: 1.5rem;
        left: 20rem;
        z-index: 1;
        h3 {
          color: white;
          line-height: 1rem;
        }
        p {
          color: $color-black;
        }
      }
    }
  }
}
