.c-footer {
  height: 68rem;
  background-color: $color-black;
  @include media-breakpoint-down(lg) {
    height: 90rem;
  }
  @include media-breakpoint-down(sm) {
    height: 115rem;
  }
  @include media-breakpoint-down(xs) {
    height: 140rem;
  }
  &__container {
    padding-top: 6.55rem;
    display: flex;
    h3 {
      color: $color-greywhite;
      margin-bottom: $margin-h3;
      @include media-breakpoint-down(sm) {
        margin-bottom: 2rem;
      }
    }
    p {
      color: $color-greywhite;
    }
    a {
      display: block;
      margin-top: 0.8rem;
    }
    .o-adres {
      @include media-breakpoint-down(sm) {
        margin-top: $margin-h3;
      }
    }
    .o-volg {
      @include media-breakpoint-down(xs) {
        margin-top: $margin-h3;
      }
    }
    .p-italic {
      font-style: italic;
      font-family: $Roboto-light;
      font-size: 2rem !important;
      @include media-breakpoint-down(lg) {
        margin-bottom: $margin-h1;
      }
    }
    .p-underline {
      text-decoration: underline;
      font-family: $Roboto-light;
      font-size: 2rem !important;
      color: $color-greywhite;
    }
  }
  hr {
    margin-top: 4.5rem;
    background-color: $color-greywhite;
    width: 100%;
    margin-bottom: 10rem;
    @include media-breakpoint-down(lg) {
      margin-bottom: $margin-h1;
    }
  }
  .c-input__group {
    margin-top: $margin-h3;
    display: flex;
    input {
      width: 25.8rem;
      height: 5.5rem;
      color: $color-black;
      margin-right: 0.7rem;
      font-size: initial;
      padding-left: 1.5rem;
    }
    ::placeholder {
      font-family: $bebas-kai;
      font-size: 2rem;
      color: $color-black;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: $margin-h3;
    }
  }
  .o-copyright {
    margin-top: 8.6rem;
    @include media-breakpoint-down(sm) {
      margin-top: 11rem;
    }
  }
}

.c-btn__offerte-inner {
  top: 0 !important;
  left: 0 !important;
}
.c-btn__offerte-hover {
  top: 0 !important;
  left: 0 !important;
}
