@import url("https://use.typekit.net/kvz0hti.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



$color-red:#c03218;
$color-orange: #e94e1e;
$color-black:#2e2b28;
$color-greywhite: #f7f8f9;


$bebas-kai: bebas-kai, sans-serif;
$Roboto-light: 'Roboto', sans-serif;

$margin-h1: 6.4rem;
$margin-h1-text: 4.8rem;

$margin-h2: 4.8rem;
$margin-h3: 4rem;

$margin-top-p: 4rem;
$margin-p: 3.2rem;
