<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/screen.css"/>
    <link rel="stylesheet" href="bootstrap-4.5.2/scss/bootstrap.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Heating company:buttons</title>
</head>
<body>
  
    <h1>
        Button
    </h1>
    <div class="c-btn__bg">
        <button class="c-btn__offerte">
            offerte
            <span href="#" class="c-btn__offerte-inner">
                <span class="c-btn__offerte-color">
                    <span class="c-btn__offerte-hover"></span>
                </span>
            </span>
        </button>
        <button class="c-btn__offerte c-btn__large">
            offerte
            <span href="#" class="c-btn__offerte-inner">
                <span class="c-btn__offerte-color">
                    <span class="c-btn__offerte-hover"></span>
                </span>
            </span>
        </button>
        <button class="c-btn__offerte c-btn__xlarge">
            offerte
            <span href="#" class="c-btn__offerte-inner">
                <span class="c-btn__offerte-color">
                    <span class="c-btn__offerte-hover"></span>
                </span>
            </span>
        </button>

    </div>


</body>
</html>
