<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../bootstrap-4.5.2/scss/bootstrap.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../dist/screen.css" />
    <script src="../js/card.js"></script>

    <title>Heating company: referentie cards</title>
  </head>
  <body>
    
    <div class="c-container__homecard container">
        <div class="row">
            <div class="col-md-4 col-12 c-homecard">
                <div class="c-homecard__card">
                    <div class="c-homecard__content js-card1">
                        <div class="c-homecard__icon">
                            <img class="js-icon-onderhoud" src="../img/Onderhoud.png" alt="">
                            <img class="c-homecard__icon2 js-icon-onderhoud2" src="../img/Onderhoud-grijs.png" alt="">
                        </div>

                        <h3>Onderhoud</h3>
                        <p>Onderhoud van uw verwarming?
                            Maak een afspraak</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 c-homecard">
                <div class="c-homecard__card">
                    <div class="c-homecard__content js-card2">
                        <div class="c-homecard__icon">
                            <img class="js-icon-depannage" src="../img/tandwiel-orange.png" alt="">
                            <img class="c-homecard__icon2 js-icon-depannage2" src="../img/tandwiel-grijs.png" alt="">
                        </div>
                        <h3>Depannage</h3>
                        <p>Onderhoud van uw verwarming?
                            Maak een afspraak</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 c-homecard">
                <div class="c-homecard__card">
                    <div class="c-homecard__content js-card3">
                        <div class="c-homecard__icon">
                            <img class="js-icon-installatie" src="../img/Installatie.png" alt="">
                            <img class="c-homecard__icon2 js-icon-installatie2" src="../img/Installatie-grijs.png" alt="">
                        </div>
                        <h3>installatie</h3>
                        <p>Onderhoud van uw verwarming?
                            Maak een afspraak</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


  </body>
  </html>
