<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/screen.css"/>
    <link rel="stylesheet" href="../bootstrap-4.5.2/scss/bootstrap.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/1a03d5e514.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Component-contactformulier</title>
</head>
<body>
    <div class="container c-contact__container">
        <div class="row">
            <div class="col-10 offset-1 c-contact__title">
                <h1>
                    Contacteer ons
                </h1> 
                <p class="p2">We helpen je graag met al je wensen en vragen. Vul hieronder je bericht in en je krijgt antwoord binnen de 24 uur.</p>
            </div>
            <div class="col-10 offset-1 c-contact">
                    <div class="c-contact__info">
                        <h2>The Heating Company</h2>
                        <div class="c-contact__info-a">
                            <a href="https://www.google.be/maps/place/Kortrijk/@50.8028925,3.2095739,12z/data=!3m1!4b1!4m5!3m4!1s0x47c33ae2d8706a49:0xf791d8c0a601b993!8m2!3d50.8194776!4d3.2577263" target="_blank"><i class="fas fa-map-marker-alt"></i></a>
                            <div class="c-contact__info-href">
                                <a href="https://www.google.be/maps/place/Kortrijk/@50.8028925,3.2095739,12z/data=!3m1!4b1!4m5!3m4!1s0x47c33ae2d8706a49:0xf791d8c0a601b993!8m2!3d50.8194776!4d3.2577263" target="_blank"><p class="">Industriestraat 15<br>
                                    8500 Kortrijk <br>
                                    België
                                    </p></a>
                            </div>
                        </div>
                        <div class="c-contact__info-a c-contact__info-margin">
                            <a href="tel:+32 56 56 56 16"><i class="fas fa-phone-alt"></i></a>
                            <div class="c-contact__info-href">
                                <a href="tel:+32 56 56 56 16"><p class="">+32 56 56 56 16
                                </p></a>
                            </div>
                        </div>
                        <div class="c-contact__info-a">
                            <a href="mailto:info@theheatingcompany.be"><i class="fas fa-envelope"></i></a>
                            <div class="c-contact__info-href">
                                <a href="mailto:info@theheatingcompany.be"><p class="">info@theheatingcompany.be
                                </p></a>
                            </div>
                        </div>
                    </div>
                <div class="c-contact__form">
                    
                    <div class="c-contact__form-vnaam c-contact__form-float">
                        <label for="vnaam">Voornaam:
                            
                        <input type="text" name="input" id="vnaam" autocomplete="off">
                        </label>
                    </div>
                    <div class="c-contact__form-anaam c-contact__form-float">
                        <label for="anaam">Naam:
                        <input type="text" name="input" id="anaam" autocomplete="off"></label>
                    </div>
                    <div class="c-contact__form-email c-contact__form-float">
                        <label for="email">Email:
                        <input type="email" name="input" id="email" autocomplete="off"></label>
                    </div>
                    <div class="c-contact__form-tel c-contact__form-float">
                        <label for="tel">Telefoon:
                        <input type="tel" name="input" id="tel" autocomplete="off"></label>
                    </div>
                    <div class="c-contact__form-bericht">
                        <label for="bericht">Bericht:
                        <textarea name="bericht" id="bericht"></textarea></label>
                    </div>
                    <div class="c-contact__form-check">
                        <div class="c-checkbox">
                            <input type="checkbox" id="urgent" name="urgent" value="urgent">
                            <label for="urgent">Ik ga akoord met het privacy statement*</label>
                        </div>
                    </div>
                    <div class="c-btn__center c-contact__btn">
                        <button class="c-btn">
                        <svg width="148px" height="55px" viewBox="0 0 148 55" class="c-btn__border">
                            <polyline points="147,1 147,55 1,55 1,1 147,1" class="c-btn__bg-line" />
                            <polyline points="147,1 147,55 1,55 1,1 147,1" class="c-btn__hl-line" />
                        </svg>
                        <span class="c-btn__txt">Verzenden</span>
                        </button>
                    </div>
            
                
                </div>
            </div>
        </div>
    </div>

</body>
</html>