<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../bootstrap-4.5.2/scss/bootstrap.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../dist/screen.css" />

    <title>Heating company: gallerij</title>
  </head>

  <body>
    <div class="container c-realisaties mx-auto">
      <h1>Uitgelichte realisaties</h1>
      <div class="c-realisaties__filter">
        <h3>All<hr></h3>
        <h3>Onderhoud<hr></h3>
        <h3>Zonneboiler<hr></h3>
      </div>
    </div>
  </body>
</html>
