<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/screen.css"/>
    <link rel="stylesheet" href="../bootstrap-4.5.2/scss/bootstrap.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Heating company</title>
</head>

<body>
    <div id="navbar" class="fixed-top">
        <nav class="c-topnav navbar navbar-expand-lg">
                <div class="container">
                    <button class="c-btn__offerte">
                        offerte
                        <span href="#" class="c-btn__offerte-inner">
                            <span class="c-btn__offerte-color">
                                <span class="c-btn__offerte-hover"></span>
                            </span>
                        </span>
                    </button>
                    <div class="justify-content-end">
                    <ul class="navbar-nav">
                        <li class="">
                        <a class="" href="#">over ons</a>
                        </li>
                        <li class="">
                        <a class="" href="#">Attesten</a>
                        </li>
                    </ul>
                    </div>
                </div>
        </nav>
        
        <nav class="c-nav2 navbar navbar-expand-sm">
                <div class="container">
                        <a class="navbar-brand">
                        <img class="c-nav2__logo" src="/img/logo-klein.png"  alt="logo-klein">
                        </a>
                    <input type="checkbox" name="" id="chk1">
                        <ul class="navbar-nav nav">
                            <li class="c-nav2__item">
                            <a class="" href="/index.html#">Home</a>
                            </li>
                            <li class="c-nav2__item c-nav2__dropdown">
                                <a class="" href="#">Plaatsing</a>
                                <div class="c-nav2__dropdown-content">
                                    <a class="c-nav2__dropdown-item" href="#"><img src="/img/plaatsing-logo.svg">Plaatsing</a>
                                    <a class="c-nav2__dropdown-item" href="#"><img src="/img/plaatsing-logo.svg">Residentie </a>
                                    <a class="c-nav2__dropdown-item" href="#"><img src="/img/plaatsing-logo.svg">Woning </a>
                                </div>
                            </li>
                            <!-- Screen smaller 600px -->
                            <li class="c-nav2__item c-nav2__dropdown-small">
                                <a class="c-nav2__dropdown-small-title" href="#"> Plaatsing</a>
                                <a class="c-nav2__dropdown-small-item" href="#"> Plaatsing</a>
                                <a class="c-nav2__dropdown-small-item" href="#"> Residentie </a>
                                <a class="c-nav2__dropdown-small-item" href="#"> Woning </a>
                            </li>
                            <li class="c-nav2__item">
                                <a class="" href="#">Oplossingen</a>
                            </li>
                            <li class="c-nav2__item">
                                <a class="" href="#">Onderhoud</a>
                            </li>
                            <li class="c-nav2__item">
                                <a class="" href="#">Realisaties</a>
                            </li>
                            <li class="c-nav2__item">
                                <a class="" href="#">Contact</a>
                            </li>
                        </ul>
                    <div class="menu">
                        <label for="chk1">
                        <i id="bar" class="fa fa-bars"></i>
                        </label>
                    </div>
                    </div>
                </div>
                </div>
        </nav>
    </div>




    <!-- custom grid test container xl= 1590px -->

    <main>

    <div class="container" style="height: 1500px;">
        <div class="row">
            <div class="col-1"><h1>TEST</h1></div>
            <div class="col-1">2</div>
            <div class="col-1">3</div>
            <div class="col-1">4</div>
            <div class="col-1">5</div>
            <div class="col-1">6</div>
            <div class="col-1">7</div>
            <div class="col-1">8</div>
            <div class="col-1">9</div>
            <div class="col-1">10</div>
            <div class="col-1">11 </br> 11</div>
            <div class="col-1 text-end">12</div>
        </div>
    </div>

    </main>


</body>

</html> 