<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../bootstrap-4.5.2/scss/bootstrap.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../dist/screen.css" />

    <title>Heating company: Team cards</title>
  </head>

  <body>
    <div class="c-container__cards--team container row mx-auto">
      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <div class="c-card--team">
          <img src="/img/CEO.png" alt="CEO" />
          <div class="c-overlay"></div>
          <div class="c-overlay__text">
            <h3>Sofia Van Hercke</h3>
            <p class="p1">Zaakvoerder</p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <div class="c-card--team">
          <img src="/img/CEO-1.png" alt="CEO-1" />
          <div class="c-overlay"></div>
          <div class="c-overlay__text">
            <h3>Tom Helps</h3>
            <p class="p1">Zaakvoerder</p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <div class="c-card--team">
          <img src="/img/employee.png" alt="employee" />
          <div class="c-overlay"></div>
          <div class="c-overlay__text">
            <h3>liesbeth belkens</h3>
            <p class="p1">Office Manager</p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <div class="c-card--team">
          <img src="/img/employee-2.png" alt="employee2" />
          <div class="c-overlay"></div>
          <div class="c-overlay__text">
            <h3>Maxime van den brande</h3>
            <p class="p1">Installateur</p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <div class="c-card--team">
          <img src="/img/employee-3.png" alt="employee3" />
          <div class="c-overlay"></div>
          <div class="c-overlay__text">
            <h3>Charlotte De Belle</h3>
            <p class="p1">Installateur</p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <div class="c-card--team">
          <img src="/img/off-manager.png" alt="off-manager" />
          <div class="c-overlay"></div>
          <div class="c-overlay__text">
            <h3>Kris Michiels</h3>
            <p class="p1">Installateur</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
